{
	frankenphp
    http_port 8845
}

# The domain name of your server
http://192.168.100.50 {
	# Set the webroot to the public/ directory
	root public/
	# Enable compression (optional)
	encode zstd br gzip
	# Execute PHP files from the public/ directory and serve assets
	php_server {
		try_files index.php
	}
}
