 /* Estilo del botón Soy Admin */
 .admin-btn-container {
  display: flex;
  justify-content: right;
  margin-top: 2rem;
 }

 .admin-btn {
  background-color: #444;
  color: #fff;
  padding: 1px 10px 1px 10px;
  border-radius: 5px;
  text-decoration: none;

  transition: background 0.3s ease;
 }

 .admin-btn:hover {
  background-color: #333;
 }