/*---------------------------------------------- H E A D E R  P A G E ---------------------------------------------------------------*/

.header-avatar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1rem;
 border-bottom: 1px solid #ddd;
 background-color: #140b5c;
 color: white
}

.header-avatar-lista {
 display: block;
 padding: 10px 15px;
 text-decoration: none;
 color: #333;
 font-size: 0.95rem;
 transition: background-color 0.2s;
}

.header-avatar-lista:hover {
 background-color: #f1f1f1;
}

.header-dropdown-avatar {
 position: absolute;
 right: 0;
 top: 50px;
 background-color: white;
 border: 1px solid #ccc;
 border-radius: 5px;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 z-index: 100;
 width: 290px;
 text-transform: none;
 display: none;
}

.header-dropdown-bell {
 position: absolute;
 right: 0;
 top: 40px;
 background-color: white;
 border: 1px solid #ccc;
 border-radius: 5px;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 z-index: 100;
 width: 290px;
 text-transform: none;
 display: none;
}


.campana {
 font-size: 1.4rem;
 color: #fff;
 cursor: pointer;
 transition: color 0.3s ease;
}